:root {
    --butonsColor: #475569;
    --darkgrey: #1E293B;
    --description: #091123;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 10px 20px;
    background-color: #334155;
    font-family: ui-sans-serif, system-ui, Helvetica, Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*----MAIN----*/
h1 {
    color: white;
    font-size: 1.875rem;
    font-weight: 700;
}

.btn-content {
    padding: 30px 0;
    display: flex;
    gap: 20px;
}

button {
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #64748B;
    padding: 8px 16px;
    font-size: 1rem;
    cursor: pointer;
}

button:hover {
    background-color: var(--butonsColor);
}

/*----INVENTORY----*/

/*----LEFT----*/

.inventory {
    padding: 20px 15px;
    display: flex;
    gap: 5rem;
    justify-content: center;
}

.inv {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.class {
    display: flex;
    gap: 15px;
}

.class-item {
    width: 56px;
    height: 56px;
    border-radius: 0.25rem;
    cursor: pointer;
    background-color: var(--butonsColor);
    padding: 0.5rem;

    display: flex;
    gap: 8px;
}

.class-item:focus {
    background-color: var(--darkgrey);
}

.items {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.item-cont {
    width: 100px;
    height: 100px;
    background-color: var(--darkgrey);
    border: 0.1px solid rgba(255, 255, 255, 0.192);
    box-shadow: 1px 0px 15px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    
    
}
.itemCont-focus{
    box-shadow: 1px 0px 15px rgba(255, 255, 255, 0.5);
    animation: growShadow 1s infinite alternate;
}
@keyframes growShadow {
    0% {
      box-shadow: 1px 0px 15px rgba(255, 255, 255, 0.6);
    }
    50% {
      box-shadow: 1px 0px 25px rgba(255, 255, 255, 0.6);
    }
    100% {
      box-shadow: 1px 0px 15px rgba(255, 255, 255, 0.6);
    }
  }  

.statcont {
    opacity: 0;
    width: 2.25rem;
    height: 1.5rem;
    color: white;
    text-align: center;
    border: 0.1px solid rgba(255, 255, 255, 0.192);
    background-color: #334155;
    position: relative;
    top: 85%;
    left: 70%;
}
.menu{
    display: none;
    width: 128px;
    padding: 10px;
    color: white;
    background-color: var(--darkgrey);
    border: 0.1px solid rgba(255, 255, 255, 0.192);
}
.activo{
    position: absolute;
    top: -500px;
    cursor: default;
    opacity: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.btnMenu{
    width: 100%;
    font-size: 1.5rem;
    border: 0.1px solid rgba(255, 255, 255, 0.192);
    text-align: center;
    cursor: pointer;
    
}

.btnMenu:hover{
    border: 0.1px solid rgba(255, 255, 255, 1);
}

/*----RIGHT----*/

.right-top {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.inv-top {
    display: flex;
    justify-content: center;
}

.inv-center {
    display: flex;
    gap: 2rem;
}


.inv-bottom {
    display: flex;
    justify-content: center;
}

.equipo {
    width: 64px;
    height: 64px;
    background-color: var(--darkgrey);
    border: 0.1px solid rgba(255, 255, 255, 0.192);
    background-size: cover;
}

.right-bottom {
    background-color: var(--butonsColor);
    opacity: 0;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    color: white;
}

.right-bottom>h2 {
    width: 100%;
    font-size: 1.4rem;
    background-color: var(--description);
    padding: 20px;
}

.contenido {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.stats {
    text-align: center;
    display: flex;
    gap: 10px;
}

.statContent {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.statInitial > p,
.statFinal > p {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.weap {
    background-image: url("https://practise-game-inventory.vercel.app/_next/static/media/sword.91ac01bf.svg");
    background-size: cover;
}

.shie {
    background-image: url("https://practise-game-inventory.vercel.app/_next/static/media/shield.f816a312.svg");
    background-size: contain;
    background-repeat: no-repeat;
}

.arm {
    background-image: url("https://practise-game-inventory.vercel.app/_next/static/media/armor.5da7a91d.svg");
    background-size: cover;
}